<html>
    <body>
        <table border="1px">
            <tr>
                <td>id</td>
                <td>Date</td>
                <td>In</td>
                <td>Out</td>
                <td>RequesterName</td>
            </tr>
            <tr>
                 <%for(var i=0;i<lista.length;i++) {%>
                <tr>
                    <td><%=lista[i].id %></td>
                    <td><%=lista[i].Date %></td>
                    <td><%=lista[i].In %></td>
                    <td><%=lista[i].Out %></td>
                    <td><%=lista[i].RequesterName%></td>
                </tr>
            <% } %>
            </tr>
        </table>
    </body>
</html>

